<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifohoo.firm25.ifms.middata.secu.sqlmapper.SecuNetvalueMapper">

    <resultMap id="BaseResultMap" type="com.ifohoo.firm25.ifms.middata.secu.domain.SecuNetvalue">
            <id property="netvalueNo" column="NETVALUE_NO" jdbcType="DECIMAL"/>
            <result property="occurDate" column="OCCUR_DATE" jdbcType="VARCHAR"/>
            <result property="secuGlobalCode" column="SECU_GLOBAL_CODE" jdbcType="VARCHAR"/>
            <result property="netvaluePrice" column="NETVALUE_PRICE" jdbcType="DECIMAL"/>
            <result property="accumNetvaluePrice" column="ACCUM_NETVALUE_PRICE" jdbcType="DECIMAL"/>
            <result property="sevenDaysAnnualYield" column="SEVEN_DAYS_ANNUAL_YIELD" jdbcType="DECIMAL"/>
            <result property="tenThousandSharesYield" column="TEN_THOUSAND_SHARES_YIELD" jdbcType="DECIMAL"/>
            <result property="rowVersionNo" column="ROW_VERSION_NO" jdbcType="DECIMAL"/>
            <result property="lastOperateStaffCode" column="LAST_OPERATE_STAFF_CODE" jdbcType="VARCHAR"/>
            <result property="lastOperateDatetime" column="LAST_OPERATE_DATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        NETVALUE_NO,OCCUR_DATE,SECU_GLOBAL_CODE,
        NETVALUE_PRICE,ACCUM_NETVALUE_PRICE,SEVEN_DAYS_ANNUAL_YIELD,
        TEN_THOUSAND_SHARES_YIELD,ROW_VERSION_NO,LAST_OPERATE_STAFF_CODE,
        LAST_OPERATE_DATETIME
    </sql>
</mapper>
