<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifohoo.firm25.ifms.middata.secu.sqlmapper.SecuQuotaMapper">

    <resultMap id="BaseResultMap" type="com.ifohoo.firm25.ifms.middata.secu.domain.SecuQuota">
            <id property="quotaNo" column="QUOTA_NO" jdbcType="DECIMAL"/>
            <result property="occurDate" column="OCCUR_DATE" jdbcType="VARCHAR"/>
            <result property="secuGlobalCode" column="SECU_GLOBAL_CODE" jdbcType="VARCHAR"/>
            <result property="closePrice" column="CLOSE_PRICE" jdbcType="DECIMAL"/>
            <result property="openPrice" column="OPEN_PRICE" jdbcType="DECIMAL"/>
            <result property="latestPrice" column="LATEST_PRICE" jdbcType="DECIMAL"/>
            <result property="highestPrice" column="HIGHEST_PRICE" jdbcType="DECIMAL"/>
            <result property="lowestPrice" column="LOWEST_PRICE" jdbcType="DECIMAL"/>
            <result property="settlePrice" column="SETTLE_PRICE" jdbcType="DECIMAL"/>
            <result property="totalMatchQty" column="TOTAL_MATCH_QTY" jdbcType="DECIMAL"/>
            <result property="totalMatchAmt" column="TOTAL_MATCH_AMT" jdbcType="DECIMAL"/>
            <result property="rowVersionNo" column="ROW_VERSION_NO" jdbcType="DECIMAL"/>
            <result property="lastOperateStaffCode" column="LAST_OPERATE_STAFF_CODE" jdbcType="VARCHAR"/>
            <result property="lastOperateDatetime" column="LAST_OPERATE_DATETIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        QUOTA_NO,OCCUR_DATE,SECU_GLOBAL_CODE,
        CLOSE_PRICE,OPEN_PRICE,LATEST_PRICE,
        HIGHEST_PRICE,LOWEST_PRICE,SETTLE_PRICE,
        TOTAL_MATCH_QTY,TOTAL_MATCH_AMT,ROW_VERSION_NO,
        LAST_OPERATE_STAFF_CODE,LAST_OPERATE_DATETIME
    </sql>
</mapper>
